<div class="container">
    <div class="row">
        <div class="col-xs-12">
          ------------------  First Assignment------------------------
            <app-warning-alert></app-warning-alert>
                        <br>
            <app-success-alert></app-success-alert>
            <br><br><br>
            <app-servers></app-servers>
        </div>
        -------------second  Assignment------------------------
        <br>
        <div class="col-xs-12">
            <label >username</label>
   <input type="text" class="form-control" [(ngModel)]="username">
   <p>{{username}}</p>

   <button class="btn btn-primary" [disabled]="username === ''" (click)="username= ''">Reset username</button>
        </div>
    </div>

</div>

<div class="container">
<!-- <button class="btn btn-primary" (click)="showSecret=!showSecret">Display Details</button> -->
<button class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>

<p *ngIf="showSecret">Secret Password= srini</p>

<div *ngFor="let logItem of log; let i = index"

[ngStyle]="{backgroundColor: i>=4?'blue':'transparent'}"
[ngClass]="{'white-text':i>=4}"

>{{logItem}}</div>

</div>


